@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.App {
  text-align: center;
}

.Background{
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
